[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter=mate-terminal "%s"
Icon=mate-terminal
Name=mate-terminal
X-XFCE-Commands=mate-terminal

